html {
    width: 100%;
    height: 100%;
    margin: auto;
    text-overflow: ellipsis;
}

body {
    width: 92%;
    height: 100%;
    margin: auto;
    padding: 0;
    text-align: center;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    line-height: 1.5;
}

.container, .sub_container, .left_container, .error_container, .search_content {
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
    padding: 5px;
}

.left_container, .search_content {
    text-align: left;
    margin-left: 0;
}

.search {
    margin: auto;
    padding: 5px;
    padding-left: 10px;
}

.search, .search:active, .search:focus {
    border-radius: 5px;
    border: 1px solid rgba(65, 65, 65, 0.801);
    outline: none;
}

#btn_send {
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    transform: scale(1.2);
}

#btn_send:active {
    transform: scale(0.9);
}

.paris_maps_container {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 0;
    transform: scale(0.9);
    margin-left: -70px;
    text-align: center;
}

svg {
    margin: auto;
    position: relative;
    display: block;
}

.arrondissement {
   fill-opacity: 1;
   stroke:white;
   stroke-opacity: 1;
   stroke-miterlimit: 3.97446823;
   stroke-dasharray: none;
}

.arrondissement:hover {
    fill: #e4e4e4;
    cursor: pointer;
}

.number {
    font-size:40px;
    line-height:1.25;
    font-family:sans-serif;
    letter-spacing:0px;
    white-space:pre;
    pointer-events: none;
}

.list_container {
    width: auto;
    height: auto;
    min-height: 30px;
    margin: auto;
    padding: 0;
}

.row_container {
    width: auto;
    height: auto;
    min-height: 20px;
    margin: auto;
    margin-top: 15px;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    transition: all 200ms ease;
    transition-duration: 0.2s;
    cursor: pointer;
}

.row_container:first-child {
    margin: auto;
}

.row_container:last-child {
    margin-bottom: 15px;
}

.row_container:hover {
    position: relative;
    transform: scale(1.03);
    z-index: 11;
}

.row_content {
    position: relative;
    border: 1px solid #000;
    border-radius: 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.836) 0px 10px 13px -7px, 5px 5px 15px 5px rgba(255,202,0,0); 
    box-shadow: rgba(0, 0, 0, 0.836) 0px 10px 13px -7px, 5px 5px 15px 5px rgba(255,202,0,0);
}

.row_content:hover {
    position: relative;
    z-index: 11;
}

.content {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.flex_row_container {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: rgba(233, 176, 34);
}

.flex_col_container {
    display: flex;
    flex-direction: column;
    padding: 3px;
    padding-top: 0px;
}

.large_auto_box {
    width: 100%;
    height: 100%;
}

.flex_1_box {
    flex: 1 1 auto;
}

.image_content {
    text-align: center;
    width: 100px;
    height: 100px;
    margin: 10px;
    margin-right: 25px;
    padding: 0;
}

.image_content img {
    text-align: center;
    width: 100%;
    height: 100%;
    min-width: 100px;
    min-height: 100px;
    margin: 0;
}

.body_container {
    flex: 1 1 auto;
}

.location_content {
    height: auto;
    width: 100%;
    text-align: center;
    font-size: small;
}

.description_content p {
    margin-top: 5px;
    margin-bottom: 3px;
}

.btn_container {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 5px;
}

.btn_box {
    display: block;
    width: auto;
    height: auto;
    margin: auto;
    text-align: center;
}

.btn_choose {
    font-family: Hack, monospace;
    background: #0F0F6D;
    color: #ffffff;
    cursor: pointer;
    font-size: 1em;
    padding: 1.5rem;
    border: 0;
    border-radius: 10px;
    width: auto;
    position: relative;
    transition: all 200ms ease;
    transition-duration: 0.05s;
}

.btn_choose::after {
    content: ">>";
    font-weight: 200;
    position: absolute;
    left: 85%;
    top: 35%;
    right: 5%;
    bottom: 0;
    opacity: 0;
}

.btn_choose:hover {
    background: #2b2bff;
    transition: all 0.35s;
    border-radius: 10px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.836);
    padding: 1.5rem 3.5rem 1.5rem 1.5rem;
}

.btn_choose:active {
    transform: scale(0.9);
}

.btn_choose:hover::after {
    opacity: 1;
    transition: all 0.5s;
}

.hover_container {
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
    z-index: 11;
    background-color:green;
    overflow: hidden;
}

.list_container>.row_container:last-child {
    margin-bottom: 150px;
}

.hover_content {
    position: relative;
    width: 100%;
    height: 200px;
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.product_container {
    position: relative;
    text-align: center;
    margin: auto;
    padding: 0;
    width: 170px;
    height: 150px;
    max-width: 170px;
    max-height: 150px;
}

.hover_body {
    display: block;
    width: 100%;
    height: 100%;
}

.hover_body img {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    margin: auto;
    padding: 0;
}

.hover_body p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
    .paris_container {
        transform: scale(0.4);
        left: -108px;
        top: -201px;
    }
  
  	.product_container {
        width: 80px;
        height: 80px;
        max-width: 80px;
        max-height: 80px;
    }
  
    .hover_content {
        height: 130px;
    }
  
  	.hover_content p {
        display: none;
    }
  
  	.sub_container {
     	transform: scale(1);
    	margin-top: -380px; 
    }
  
    .row_container {
  		min-height: 0;
      	padding: 0;
    }
  
  	.image_content {
     	text-align: center;
        width: 80px;
        height: 80px;
        margin: 25px;
        margin-top: auto;
      	margin-bottom: auto;
        padding: 0; 
    }
  
  	.image_content img {
        width: 100%;
        height: 100%;
        min-width: 80px;
        min-height: 80px;
    }
  
  	.location_content {
  		font-size: 10px;    
    }
  
  	.description_content {
      	font-size: 13px;
    }
  
  	.btn_container {
        text-align: center;
        margin: auto;
        padding: 5px; 
    }
  
  	.btn_choose {
        font-size: 0.75em;
        padding: 1rem;
    	width: auto;
    }
  
  	.error_container {
        top: -400px;
  	}
}

@media screen and (min-width: 600px) and (max-width: 800px) {
    .paris_container {
        transform: scale(0.7);
        left: -96px;
        top: -100px;
    }
  
  	.product_container {
        width: 120px;
        height: 100px;
        max-width: 120px;
        max-height: 100px;
    }
  
    .hover_content {
        height: 155px;
    }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
    .paris_container {
        left: -100px;
    }
}
